* {
  box-sizing: border-box;
}

body {
  background-color: green;
  width: 100%;
  heigth: 100%;
}

main {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: column;
   border: 3px solid;
}

.item {
  margin: 15px;
  border: 3px solid;
}

#topBar {
  height: 25px;
  background: brown;
}

#doubleBox {
  width: 210px;
  padding: 10px;
}

/*Try flex later*/
.redBox {
  width: 95px;
  height: 95px;
  background: red;
  border: 3px solid;
  rotate: 45deg;
}

#boxLeft {
  float: left;
}

#boxRight {
  float: right;
}

#doubleLineCircle {
  width: 250px;
}

.line {
  margin: 15px;
  width: 100px;
  height: 15px;
  border: 3px solid;
  background: blue;
}

.subItem {
  display: inline-block;
}

#circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 3px solid;
  background: cyan;
}

#abcBox {
  width: 300px;
  height: 500px;
  background: white;
}

.item p {
  text-align: center;
  font-family: Impact;
  font-size: 30px;
}

@media screen and (min-width: 583px) and (max-width: 900px) {
  #abcBox {
    background: red;
  }
}

@media screen and (max-width: 582px) {
  #abcBox {
    background: blue;
  }
}
